</br>
<div class="jumbotron">

<h2 class="bluetext">About One Month Korean</h2>
<p>One Month Korean is the best way to learn the Korean alphabet and the Korean course that I wish I could have learned Korean from.
<p>After suffering through one too many frustrating Korean textbooks and classes, I had this idea to create a Korean course that would actually be fun for students to learn from and that would use modern technology. Korean is a fun language to speak. Why shouldn’t learning it be fun, too? We have already written over 30,000 words (about 120 pages) of lessons despite having full time jobs. We’re having so much fun creating it, we hope it never ends.</p>
<p>If you haven’t learned the Korean alphabet, start now. We designed an innovative software program that combines audio with brief text lessons to save you time learning Korean. We spent a lot of time and money designing this program to teach you Korean as fast as possible. There is nothing else like it. Just get started.</p>

<p>We think most (all?) other Korean textbooks are pretty boring, too predictable, not motivating and all the same. We don’t know why companies keep publishing Korean books that are the same as every other Korean book that has been published. It never seemed to me that the writers took the time to make things interesting. So we wanted to write something completely different, creative and imaginative. Something much more than just another Korean textbook.</p>
<p>Try it out yourself to experience the difference. Start today and get a good feel for if it is right for you or not. You’ll be able to quickly build a strong basic Korean foundation.</p>
<p>One of the best features of One Month Korean is that you can write to us, the authors, at any time if you’re having trouble understanding anything. Is there any other Korean textbook that lets you contact the authors? And if you have any suggestions for making something more clear or adding anything, we’d love to hear it. We’re always trying to change One Month Korean for the better.</p>
<p>Join the 50,000+ students from over 165 countries who have started their Korean learning journeys at One Month Korean. Our dream is to teach Korean to as many students as possible and make One Month Korean the most popular way to learn Korean. So if you like it, tell your friends about it. We depend on good word of mouth because we spend our advertising budget on coffee.</p>
<h3 class="bluetext">About Ryan</h3>
<p>Hi, I’m Ryan. I’m American and I lived in Seoul for 6 years.
I started studying Korean with Korean friends and language exchanges in Seoul coffee shops. I kept at it and kept at it and I am still learning Korean. I don’t think I’ll ever be perfect, but I love learning Korean. My basic goal in making One Month Korean is to let you learn Korean in an easier way than I did.</p>
<h3 class="bluetext">About HeeJin</h3>
<p>Hi, I’m HeeJin. I’m Korean and I live in Seoul. I design the lessons with Ryan and I’m the one who makes sure the Korean on here is proper. It is my voice you hear on the One Month Korean alphabet program. I hope to teach to everyone who wants to learn Korean. It’s a fun language, and will make your visit to Seoul and Korea special.</p>

</div>
