</br>
<div class="jumbotron">

<h2 class="bluetext">Contact One Month Korean</h2>

	<p>The whole purpose of One Month Korean is to help people learn Hangul, the Korean alphabet, and Korean as fast as possible. If you have any Korean or Hangul questions, or a question about the Learn Hangul app, or any other questions or feedback, just send an email. </p>
	<p>I usually write back pretty quickly, but sometimes, despite my unbreakable addiction to coffee, I am sleeping.</p>
	We'd also love to hear what you think of One Month Korean.
	<p>
	Thanks,</p>
	<p>
	Ryan</p>
	<p class="bluetext">ryan@onemonthkorean.com</p>

</div>
