</br>
<div class="jumbotron center bluetext">
	<h1>Learn Korean In One Month</h1>
	</br>
	<h2 class="text-muted">50,000+ students in 165+ countries have</h2>
	<h2 class="text-muted">learned Korean with us</h2>
		</br>
	<%= link_to "Learn Korean Now", "#", class: "btn btn-success btn-lg" %>

</br>
</div>

<div class="row cloudtext">
        <div class="col-lg-4">
          <h2 class="cloudtext">Learn the Korean Alphabet Fast</h2>
          <p>We developed our own Korean Alphabet App complete with audio for perfect pronunciation. You will learn the Korean Alphabet in 4 hours or less. Faster than you ever thought possible. Only at One Month Korean.</p>
        </div>
        <div class="col-lg-4">
          <h2 class="cloudtext">Learn Korean that you can use everyday</h2>
          <p>Wether you plan on taking a trip to Korea, or even move to Seoul to teach English, we teach Korean that you can actually use. You'll learn some useful Korean phrases so you can do things like order at a Korean restaurant.</p>
       </div>
        <div class="col-lg-4">
          <h2 class="cloudtext">Master the basics of Korean</h2>
          <p>One Month Korean makes sure to give you a strong understanding of basic Korean grammar fast. We give you all the basic rules you need to make your own Korean sentences.</p>
        </div>
      </div>

      </br>


<div class="center cloudtext">
	<h3>One Month Korean will teach you:</h3>

		<p>The Korean Alphabet</p>
		<p>How to read Korean</p>
		<p>How to write in Korean</p>
		<p>How to speak Korean</p>
		<p>200+ Korean words</p>
		<p>Basic Korean Grammar</p>
		<p>How to make your own sentences</p>
		<p>How to order Korean food</p>
</div>


