
<div class="jumbotron center bluetext">
	<h1>Learn Korean In One Month</h1>
	</br>
	<h2 class="lightredtext">50,000+ students in 165+ countries have</h2>
	<h2 class="lightredtext">learned Korean with us</h2>
		</br>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %> <%= link_to  "Log In", new_user_session_path, class: "btn btn-default btn-lg" %> 

</br>
</div>

<div class="cloudback space roundborders">

<div class="row bluetext">
        
        <div class="col-lg-4">
          <h2 class="lightbluetext center"><span class="glyphicon glyphicon-cutlery"></span> Learn Korean you need in Korea</h2>
          <h4 class="text-muted center">We will teach you Korean that you will use from day 1 in Seoul</h4>

       </div>
       <div class="col-lg-4">
          <h2 class="lightbluetext center"><span class="glyphicon glyphicon-flash"></span> Learn the Korean Alphabet Fast</h2>
          <h4 class="text-muted center">Learn the Korean Alphabet, Hangul, in 4 hours or less with our free app</h4>
      </br>
          <div class="center"><%= link_to "Learn the Korean Alphabet", new_user_registration_path, class: "btn btn-primary btn-md center" %></div>
      </br>
        </div>
        <div class="col-lg-4">
          <h2 class="lightbluetext center"><span class="glyphicon glyphicon-ok-sign"></span> Master the basics of Korean</h2>
          <h4 class="text-muted center">Learn proper Korean grammar so you can make your own sentences</h4>
        </div>
      </div>

</div>

      </br>


<div class="center cloudtext">
	<h3>One Month Korean will teach you:</h3>

		<p>The Korean Alphabet</p>
		<p>How to read Korean</p>
		<p>How to write in Korean</p>
		<p>How to speak Korean</p>
		<p>200+ Korean words</p>
		<p>Basic Korean Grammar</p>
		<p>How to make your own sentences</p>
		<p>How to order Korean food</p>
</div>


