<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Learn Hangul, the Korean Alphabet... the ABCs of Korea...<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">There's an app for that... and we made it!</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 1: Six basic Korean vowels and Five basic Korean consonants</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 2: Are you learning Korean or Canadian, eh?</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 3: "Y" is Korean so easy?</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 4: These Korean consonants are windy</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 5: Double Korean consonants are double strong</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 6: Korean vowel combos</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 7: Final Korean alphabet lesson</li>
    
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">How to Learn Korean<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">Everything you need to know so you can start a successful journey of learning Korean.</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <a href="/how-to-learn-korean"><li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 8: History of One Month Korean</li></a>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 9: Korean is F#@$ing Difficult as F#%K</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 10: Why are You Learning Korean?</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 11: Korean Study Habits</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 12: Prepare Your Mind to Learn Korean</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 13: Fight to the Death to Learn Korean</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Beginner's Guide to the Korean Language<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">A preview of the Korean language for total noobs</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 14: Meet your new enemy and lover, Korean</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 15: Korean Grammar</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 16: Korean Verbs and Adjectives</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 17: The Korean Subject</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 18: Korean Topics</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 19: Korean Objects</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 20: Korean Words</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 21: Korean Politeness Levels</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 22: Korean Prepositions / Postpositions</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 23: Korean Sounds and Speech</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 24: Korean is Super Easy</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 25: Be Curious about Korean</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 26: Starting is Half</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Reading, Writing and Speaking Korean<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">Perfecting your new Hangul skills</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 27: How to say your name in Korean</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 28: How to read the Seoul Subway map in Korean</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 29: How to order food in Korean</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 30: How to order a drink in Korean</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 31: How to order a drink at a Korean Starbucks</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 32: How to order Kimchi</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 33: An advanced Hangul pronunciation rule</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 34: Another advanced Hangul pronunciation rule</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">First Korean Grammar Lesson<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">You will learn how to say "it is" in Korean</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 35: Grammar is fun!</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 36: Korean word builder: you need some words for grammar!</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 37: Using your new Korean words</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 38: The worst Korean grammar cartoon ever</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 39: Your first Korean grammar test</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 40: Grammar summary</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 41: Practice makes perfect Korean grammar</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 42: Korean Questions</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 43: Korean grammar practice with Korean questions</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Learn Korean Words Fast<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">Learn about the best way to build your Korean vocabulary</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 44: Introduction</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 45: Your Korean Dream Words</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 46: Korean flashcards</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 47: Goodbye paper Korean flashcards</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 48: The best Korean flashcards</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 49: Anki Korean flashcards</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 50: Korean flashcard tips and tricks</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 51: How to study Korean flashcards</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Korean Subjects<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">Learn about how to mark Korean subjects in sentences</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 52: What is a Korean Subject and why is it important?</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 53: The Korean subject marker</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 54: Practice with the Korean subject marker</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 55: How to say "it's not a..." in Korean</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 56: Korean subject test</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Korean Objects<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">All about Korean Objects in sentences</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 57: Meet the Korean object</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 58: The Korean object marker</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 59: Practice with Korean subjects and objects together</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 60: Korean subjects and objects in context</li>
  </ul>
</div>

</br>

<div class="panel panel-default chapter">
  <!-- Default panel contents -->

  <div class="panel-heading blueback"><h2 class="cloudtext center">Korean Verbs<h2></div>
  <div class="panel-body">
    <h4 class="center text-muted">You are so close to having all the pieces to make Korean sentences</h4>
  </div>

  <!-- List group -->
  <ul class="list-group bluetext lessonfontsize">
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 61: Korean Verbs and Adjectives</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty  star"></span> Lesson 62: Korean verb conjugation</li>
    <li class="list-group-item "><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 63: Practice conjugating Korean verbs Part 1</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 64: Practice conjugating Korean verbs Part 2</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty star"></span> Lesson 65: Coming Soon</li>
    
  </ul>
</div>

