</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Get Started Learning Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"시작이 반이다"</h3> 
	<h4 class="text-muted center">––Korean Proverb. Starting is half.</h4>
     </div>
 </div>

	<p>Your spying mission into the heart of Korean is complete, and we hope you have a good overview of what is ahead for you and are excited about learning Korean. Korean is definitely a challenge to learn, butwe hope you are not daunted by it. If you are frightened, you can always stick with English!</p>

  <p>We really do hope you can feel some of our passion for Korean and are inspired to dive deeper. We don’t think there is much that is more stimulating and rewarding than learning a foreign language.</p>

  <p>Now for the best news: The Korean alphabet is really simple to learn and we put a lot of thought into making it as easy as possible to learn. You will Learn the Korean Alphabet in about an Hour with Learn Hangul.</p>

  <p>If you are thinking about learning Korean, our advice is to just go for it. If you have read this far, you should keep going. Korean is just starting to get exciting for you.</p>

  <p>We are about to teach you the Korean alphabet. We don’t believe there is a more efficient method to learn Hangul out there. We have looked through almost all beginning Korean books on the market, looked everywhere online and reached the end of the internets (even Google asked for overtime pay) and we couldn’t find any other book or website that uses a Korean alphabet method as good as mine. It seems to us that most Korean books and Korean websites don’t put in much thought and planning into how they teach the Korean alphabet, or the rest of the language, for that matter. They seem to teach the letters in a random order.</p>

  <p>We set out to discover the most efficient way you can learn Korean.</p>

  <p>We will teach it to you in a unique pattern that takes full advantage of the fact that many Korean letters are related to each other. When you finish our Learn Hangul in about an Hour program, you’ll be amazed you were able to learn how to read and say and write anything in Korean quite accurately in just an hour or two.</p>

  <p>Get started. Don’t waste time hesitating starting when you could be using that time learning Korean. You need to trust your instincts to achieve your Korean dreams.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
