</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">The Korean Subject</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"티끌 모아 태산"</h3> 
	<h4 class="text-muted center">––Korean Proverb. If you collect dust, eventually you will have a mountain.</h4>
     </div>
 </div>

	<p>Subjects</p>

  <p>Thankfully, subjects of Korean sentences usually go towards the front of sentences–just like in English.</p>

  <p>The distinguishing characteristic of Korean subjects is that a subject marker (a syllable that attaches just after the subject) is used so that it is clear that it is the subject of the sentence.</p>

  <p>For example, in English, you would say ‘I am tall.’ In Korean, you would say ‘I-subject am tall’.</p>

  <p>Depending on if the subject ends in a vowel or consonant, the subject marker is different.</p>

  <p>이 is used with subjects ending in a consonant. 가 is used with subjects ending in a vowel.</p>

  <p>Let’s look at a few examples in Korean:</p>

  <p>Pizza (피자) is delicious (맛있어요). ==> 피자가 맛있어요. Pizza ends in a vowel, so we use 가.</p>

  <p>Now let’s look at a subject that uses 이.</p>

  <p>Ramen (라면) is delicious (맛있어요). ==> 라면이 맛있어요. Ramen ends in a consonant, so we used 이.</p>

  <p>Again, you don’t have to try to  remember all of this at all, or even read it twice. Especially since you can’t read Korean yet! This is just to prepare you for what’s ahead, and now you will know why you see a lot of 이s and 가s at the end of words in the beginning of Korean sentences–they are used to make it clear what the subject of the sentence is. You will learn all of this much more in depth later on, once you can read Korean, so you can actually fully absorb it.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
