</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Fight to the Death to Learn Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"The soldier who fights to death never dies, but the soldier who fights for existence never truly exists."</h3> 
	<h4 class="text-muted center">––Korean Naval Commander Yi Sun Shin (1545-1598)</h4>
     </div>
 </div>

	<p>You won’t be able to use any of these excuses with us. Our sole purpose is to help you achieve your Korean goals and keep you from giving up. Laugh in the face of the challenge. You are going to have fun learning Korean. We specifically designed this website to help you overcome all of the obstacles that trick so many Korean learners to quit before they come close to reaching the level they want.</p> 

  <p>This habit of not using excuses is the habit of strength of mind and determination. If you want to learn Korean, it is simply a matter of mind over matter. It is all psychology and not taking your eyes off of your goal.</p> 

  <p>Did you know that people who tell others of their plans are less likely to follow through on their plans? Sharing their plans with others satisfies their need for self-identity just enough that they are less motivated to do the really hard work needed. In other words, telling people that you are learning Korean, or that you can speak Korean, can take away some of your desire to actually learn Korean or actually speak Korean.</p> 

  <p>It turns out that people who tell others about their goals gain a “premature sense of completeness.”</p> 

  <p>But you need to remember that learning Korean is up to you and you need to have the will to finish, psychological studies and statistics be damned. Spit in the face of conventional psychology and tell the world you are learning Korean and are having fun doing it. Tell your friends, tell your family. Don’t let anything ever get in the way of your goal to learn Korean. Develop strength of mind. Take responsibility for your success. Don’t worry, we are going to help you out big time.</p> 

  <p>Fight to the death to learn Korean.</p> 


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>