</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Topics</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"아는 길도 물어 가라"</h3> 
	<h4 class="text-muted center">––Korean Proverb. Even if it’s a road you know well, ask directions.</h4>
     </div>
 </div>

	<p>Topics</p>

  <p>Similar to subject markers, Koreans also use a syllable to mark the topics of sentences. In other words, the topic is telling you what the sentence is about. There are not really any ‘topics’ in English, so this is something different.</p>

  <p>Using a topic marker with a word has the effect of emphasizing or contrasting that word in the sentence. Confusingly, the topic is often the same as the subject (but not always!). For beginning Korean learners, it will be hard to know when to use the topic marker, and when to use the subject marker. Often, there is no grammatically right or wrong way to do it–but as you hear more Koreans talking you will just naturally figure it all out, so you can talk more like Koreans do. It is also important to note that a topic is not a necessary part of a sentence.</p>

  <p>Let’s look at a few examples so we can get used to recognizing topic markers. For example, we might say “I am tall.’ using the topic marker rather than the subject marker.</p>

  <p>So in Korean, that would translate to: “I-topic am tall.” This would translate back to English something like ‘I am tall.’ or ‘As for me, I am tall.’ Using the topic marker has the effect of emphasizing the topic (as in ‘I am tall.’) or contrasting the topic with what came before it (as in ‘As for me, I am tall.’).</p>

  <p>Depending on if the topic ends in a vowel or consonant, the topic marker is different. Are you sensing a pattern? You will notice that a lot of words and parts of speech will take on different forms depending on if the word ends in a vowel or consonant.</p>

  <p>은 is used with topics ending in a consonant. 는 is used with topics ending in a vowel. So you’ll start noticing that you hear a lot of 은s and 는s in Korean sentences. Once you can read Korean, that is.</p>

  <p>Alright, that is enough about subject and topic markers for now. The takeaways:</p>

  <p>1. Korean marks certain words so that it is clear what part of speech that word is in the sentence (in this case, subjects and topics).</p>

  <p>2. Certain words are formed and conjugated in different way depending on if the word ends in a vowel or consonant. So we have to pay attention to that in Korean. You can think of this peculiarity as somewhat similar to how a or an is used in English. If a noun starts with a vowel sound, you use 'an'. An apple. If a vowel starts with a consonant sound, you use 'a'. A book.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
