</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">How to Learn Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"I do wanna learn how to fly. Yes, I would like to learn Korean."</h3> 
	<h4 class="text-muted center">–Jim Carrey in Yes Man</h4>
     </div>
 </div>

	<p>We want to share with you the quick story of why we decided to write One Month Korean and why we made the One Month Korean in about an hour program. When One Month Korean was founded in 2010, our immediate goal was to give new Korean learners the best start to the language. We were originally going to have a website where beginning students could come to take live online Korean classes with a Korean teacher. It seemed like there wasn’t much similar on the web, and what was there was way too expensive. We wanted to find a book that the teachers could base the class material on and that would be motivating enough that students would want to use it outside of class. We knew we could control what was taught in the class, but if we could get students studying Korean outside of class, that’s when most of the learning could take place.</p>

    <p>We headed to the biggest bookstore in Korea, Kyobo Bookstore–just steps away from Gyeongbok Palace in Seoul. We were on a mission to find the best, most exciting, motivating Korean textbook out there.</p>

    <p>That’s when we had our a-ha! moment.</p>

    <p>Surely, at the biggest bookstore in Korea–just a short walk from the home and statue of the creator of Hangul, King Sejong–there would be too many choices for a Korean book we could give students. But knee-deep in hundreds of Korean books, we realized there was just nothing good enough. All of the books were all very similar, all very boring. Each chapter was a cookie-cutter version of the chapter before it.</p>

    <p>Take this example: We’re not going to name the title, but even after 200 pages, all of the Korean is written out in romanization. Here is a sample sentence right out of the book on page 189: Omoni-ga yonghwa-rul choa ha-nikka aboji taeshin bidio po-myon toeyo. If you learn how to speak with English alphabet spellings of words, Koreans are going to think you have been drinking soju (Korean rice liquor) since you woke up.</p>

    <p>Why would anyone teach Korean through the English alphabet when Korean has one of the simplest, most elegant alphabets ever created? King Sejong made Hangul in the 1440s because the agrarian population of Korea did not have the luxury of time and school to learn thousands of Chinese characters, which Korea used for writing back then. It is designed to be learned quickly. If you do learn from using a lot of romanization, you will realize how silly it is from the first time you speak or write to anyone who has actually eaten kimchi and they have no idea what you are talking about. One Month Korean teaches you how to read, write and speak Korean in just an hour or so and we quickly trash romanization. We don’t want you to develop a romanization filter in your brain that slows down your Korean language processing time and makes you sound stupid.</p>

    <p>Another book for beginners has a list of probably about 700-800 words just listed in the first pages of the book and it expects you to learn all of the words before learning beginner’s grammar point #1. Who in their right mind thinks this is a good way to learn or teach? Not only that–the grammar points are not even introduced in any kind of order that builds on the last lesson. And this is one of the most popular books on Korean out there.</p>

    <p>We realized we would teach Korean very differently and there was no way we could recommend any of the Korean books we looked at.</p>

    <p>We went to the bookstore with the goal of choosing a Korean book for you. Instead, we came away with a new dream: write the best Korean book out there. A book that would King Sejong himself would learn Korean from.</p>

    <p>So that’s how the idea of One Month Korean came into existence.</p>


    <p>One Month Korean is not just any Korean book. In fact, we strive to make it the exact opposite of every Korean textbook written since the 1400s. Smart. Creative. Efficient. Innovative. Fun. Sometimes, when we need some inspiration, we look at Korean textbooks and write lessons the exact opposite of how they teach them. It’s so different from a typical Korean textbook, and does so much more, that it is hard to call it just a textbook.</p>

    <p>The first difference you will notice is the way we teach Hangul, the Korean alphabet. Most books take hours and hours to teach it when it doesn’t have to be this way. It’s not rocket surgery. One bestselling Korean book promises to teach you the Korean alphabet in 20 hours! That’s more than enough time for a new student to decide to quit learning Korean. We teach you the alphabet so quickly that before you even have time to consider giving up, you have already learned it.</p>

    <p>Best of all, we teach you the Korean alphabet for free. Why? To make us smile. We just happen to think it is pretty cool that we think we figured out the fastest, most fun way to learn the Korean alphabet accurately and well. We really hope, when all is said and done, we teach thousands of people all over the world the Korean alphabet. That would make us feel happy.</p>

    <p>Our One Month Korean in About an Hour program is essential to a good start learning Korean. When we interviewed non-Koreans working in Seoul about how they learned Korean, we found that less than 30% learned the alphabet from a Korean person (a teacher or friend). This makes no sense! When you learn the Korean alphabet, you need to hear a Korean modeling the pronunciation. If not, you can fall into bad Hangul pronunciation habits that can be hard to change.</p>

    <p>We also found it shocking that 35% One Month Korean from a self-study textbook. That means a lot of people learn how to make the phonetic sounds of Korean without actually listening to Korean! We know some textbooks come with CDs, but does anyone actually listen to the CDs that come with books anymore?? CDs are a pain and very 1996.</p>

    <p>That’s why we developed our killer Hangul learning app. Be sure to try it out. We want it to be love at first sight (and sound) for you and Korean. It just makes it easy to listen and repeat the Korean sounds as you read the quick lessons.</p>

    <p>After we figured out this amazing way to teach you the Korean alphabet, we didn’t want to stop there. We decided to take One Month Korean way beyond the alphabet because we were having so much fun writing the lessons. Our hope is that people have so much fun learning the Korean alphabet quickly, and after discovering they are enjoying learning how to read, speak, and write Hangul, that they won’t want to stop. We sure don’t want to stop teaching Korean. One Month Korean’s goal is to teach as many Korean students as possible and take them as far as they want to go in Korean. We can’t stop writing it.</p>

    <p>We want you to want to study Korean. That’s one way that One Month Korean is different from anything else out there. It teaches you how to study Korean smart and it leaves you motivated and wanting more. It gives you the tools to enable you to teach yourself Korean.</p>

    <p>One Month Korean also takes advantage of this being the 21st century and doesn’t use dusty technology from the 1400s (the printing press) or even the 1990s (the CD). We want One Month Korean to be on the cutting edge, but simple to use.</p>

    <p>So, are you ready to learn how to fly?</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 1% Complete</h6>


