</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Good Korean Study Habits</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"세 살 적 버릇이 여든까지 간다."</h3> 
	<h4 class="text-muted center">––Korean proverb. Your habits from when you were 3 years old last until you are 80.</h4>
     </div>
 </div>

	<p>If you have made it this far, it’s clear that you are determined to learn Korean. There are only two types of people in this world. Finishers, and all the rest.</p>

  <p>Now that you know you are a finisher, it’s time to develop good Korean study habits right out of the gate, so you can achieve your Korean goals efficiently. If you are going to learn Korean, it is not going to be through accident.</p>

  <p>First, you have to set up a good Korean learning area. Take a good look at your desk. Do you even have a desk? If so, can you see it under all of the papers, books, receipts, writing instruments, and empty candy bar wrappers? Your desk is going to be your Korean space. If your desk is large enough, maybe you can set up an area that is reserved only for Korean. When you are in that area, it’s time to study Korean. So, it’s time to get rid of all of the excess on your desk–all of the detritus of life that is cluttering up your space and will be a distraction to learning Korean. File it, straighten it up, or just throw it away.</p>

  <p>Okay, done?</p>

  <p>Now for the fun part: you need to decorate your area with something that says, “Korean!” You may decide to put a picture of your Korean friend there, or maybe a cool picture of Seoul or a souvenir you brought back from your a Korean trip. Maybe a jar of Kimchi, an empty bottle of soju, or a picture of Rain. It can be anything. But when you look at this object near your Korean study area, you should immediately be reminded of Korean and want to study Korean.</p>

  <p>When you are at your Korean area, it’s important to focus. That’s why you just organized your desk. Do you think you are going to be able to marry Kim YuNa if you have the music on and are watching TV out of the corner of your eye while “learning Korean.” Distractions and information overload are curses of modernity. Gadgets are great but they rarely help us zoom in our brains for any extended period of time on what we need to be paying attention to. Multitasking is like crack and crack doesn’t help us with the academic side of our brains.</p>

  <p>You need to focus on the learning task at hand. When you are reading My Korean Book, don’t have your email open in another window. Focus.</p>

  <p>Next, you need a new notebook for Korean. Your first of many Korean notebooks. We can etch things deep into our brains when we mark it down on paper. And the act of quickly reviewing something a half hour or a day after we learn it can have a huge effect on our ability to remember it. Now, you don’t have to note down every little bit of Korean you learn. Just write down big things you learn or words that you randomly learn and want to add to your flashcards later.</p>

  <p>We don’t want you wasting too much time jotting stuff down when you could be spending that time learning even more Korean. If you take too many notes, it becomes tedious and you will quit and it just feels too much like “studying”. Besides taking whatever notes you want to with this notebook, you will also use it to take very specific kinds of notes that will help you map out the labyrinth that is Korean grammar. We’ll go over that later. But right now, it is just important that you have a fresh notebook. Okay, do you have a notebook you can use? Good.

  <p>Third, you need to start a Korean calendar. Now, you may keep a journal/diary/planner or use an online service like iCal or Google Calendar or a cool calendar app on your phone. It doesn’t matter what kind of calendar it is–as long as it is easy and convenient to use. You will use this calendar to record what kind of work you put into learning Korean on each day. Yes, you should be spending at least a little time with Korean every day.</p>

  <p>This calendar is not for making plans with. The problem with the setting plans kind of calendar for learning Korean is that it is just so easy to delay that study session one more day and then feel like an Olympic medalist when you finally complete that simple task 3 weeks later. This kind of reverse calendar to record the work you have already done is for you to be able to look at and see right away whether you are being lazy or not. You can think of it as your ‘Am I being lazy with learning Korean?’ calendar.</p>

  <p>Your calendar should look something like this:</p>

  <p>If your calendar usually looks like the calendar above, you will learn Korean. If your Korean calendar frequently looks like the one below, well, you will fail miserably.</p>

  <p>Now that you have a place to learn Korean, a Korean notebook and a Korean calendar, it is time to prepare the most important thing of all. </p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
