</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Verbs and Adjectives</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"On the other side of every mountain was another mountain."</h3> 
	<h4 class="text-muted center">––Lieutenant Colonel George Russell, a battalion commander with the 23rd Regiment of the 2nd Infantry Division, describing conditions during the Korean War.</h4>
     </div>
 </div>

	<p>Verbs</p>

  <p>Placement in the sentence is not the only difficult thing about Korean verbs. French verbs are notoriously difficult for native English speakers because regular French verbs have 12 different conjugations.</p>

  <p>Well, Korean has over 1000 different verb endings. That is not 1000 tenses necessarily, but 1000 different ways to form verbs. In English if you want to change the sentence, ‘You drink milk’ to ‘You should drink milk’, you just add the word ‘should’. In Korean, you would change it to ‘You milk drink-should’ and the should attaches to the verb in different ways depending on a number of factors.</p>

  <p>There are over 1000 of these verb attachments where you have to know how the verb conjugates. Dealing with verbs is easily one of the most challenging and frustrating aspects of learning Korean. Often when beginners and intermediates are speaking Korean, they will speak a sentence confidently until they get to the verb, and everything falls apart as they try to pick out the correct conjugation needle from the Korean verb haystack.</p>

  <p>Unfortunately, your work is not done for you just because you remembered to leave the verb for last in the sentence. Your verb work is really just beginning. Depending on the feeling you want to express, if the verb ends in a consonant or vowel, if the verb is irregular, whom you are communicating with and what your relationship is, the tense, if you are asking a question, if you are forming a connecting clause, if you are writing or speaking, if you are quoting something, if you are using the positive or negative, if you are agreeing or disagreeing, the degree of probability you want to get across, how the weather is, what clothes you are wearing, what time it is, well, you get the idea… Then, and only then, can you finish your sentence with the correct all-important verb, and your verbs will probably be all wrong for your first few months.</p>

  <p>Once you finish with one sentence’s verb, then it is time to start the next sentence and deal with another verb. Phew.</p>

  <p>So using Korean verbs is about 100 times more difficult than using French verbs. Ooh la la.</p>

  <p>Adjectives</p>

  <p>Another oddity about Korean is its use of adjectives. Adjectives are put at the end of sentences. We know what you are thinking: That’s where Korean verbs go. Korean adjectives look and act a lot like Korean verbs.</p>

  <p>However, adjectives often conjugate differently than verbs, which leads to problems. Unfortunately, if a Korean adjective looks like a verb and sounds like a verb, it is not a verb and behaves differently, but not all the time. Confused? You should be. This makes Korean verbs and adjectives that much more confusing.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
