</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Objects</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"서당개 삼 년에 풍월 읊는다."</h3> 
	<h4 class="text-muted center">––Korean Proverb. Even a dog who goes to a schoolhouse for three years can recite poems.</h4>
     </div>
 </div>

  <p>Objects</p>

  <p>The next part of Korean speech that uses a marker is the object of the sentence. We have already learned that subjects and topics of Korean sentences are marked. Depending on if it ends with a consonant or vowel, subjects of a sentence are immediately followed by 이 or 가, and topics are marked with 은 or 는. The object of the sentence is similarly marked.</p>

  <p>If you don’t remember your grammar, the object of a sentence is the thing being influenced by the verb. For example: She kicked him. Here, ‘him’ is the object of the sentence (the thing being kicked).</p>

  <p>The object of a Korean sentence is marked with 을 or 를. You’ll see and hear these frequently in Korean sentences. Can you guess why it is 을 or 를? Yep, you guessed it… Korean is getting easy, huh?</p>

  <p>If the object ends with a consonant, you put 을 at the end of the object. If it ends with a vowel, you put 를 immediately after it. (With all markers you say or write the marker immediately after the word it is marking. When writing, there is no space between the word and the marker.)</p>

  <p>When you say each sentence, you will have to know what the subject of the sentence is (so you can mark it with the subject marker), what the object is (so you can mark it with the object marker) and remember to put the verb at the end of it all.</p>

  <p>This is quite different from how you speak English. If you are a native English speaker, you never have to think of what the subject or object of the sentence is. You probably haven’t given subjects and objects much thought since elementary school grammar classes. You just speak. When you are starting out, Korean requires you to be a grammar professor with every sentence. But you’ll get used to it.</p>

  <p>Learning Korean is a little like learning how to juggle inside your head. It’s not clear if it is the same for juggling, but it’s a lot easier to speak Korean after some wine or other drink!</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
