</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Words</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"안촉촉한 초코칩 나라에 살던 안촉촉한 초코칩이 촉촉한 초코칩 나라의 촉촉한 초코칩을 보고 촉촉한 초코칩이 되고 싶어서 촉촉한 초코칩 나라에 갔는데 촉촉한 초코칩 나라의 문지기가 “넌 촉촉한 초코칩이 아니고 안촉촉한 초코칩이니까 안촉촉한 초코칩 나라에서 살아”라고해서 안촉촉한 초코칩은 촉촉한 초코칩이 되는것을 포기하고 안촉촉한 초코칩 나라로 돌아갔다. A non-moist chocolate chip cookie that lived in non-moist chocolate chip cookie land saw a moist chocolate chip cookie from moist chocolate chip cookie land and wanted to become a moist chocolate chip cookie and so went to moist chocolate chip cookie land, but the gate-keeper of moist chocolate chip cookie land said, “You are not a moist chocolate chip cookie, but a non-moist chocolate chip cookie, so live in non-moist chocolate chip cookie land,” so the non-moist chocolate chip cookie gave up on becoming a moist chocolate chip cookie and went back to non-moist chocolate chip cookie land."</h3> 
	<h4 class="text-muted center">––Famous Korean Toungue Twister</h4>
     </div>
 </div>

	<p>Some people might think it will be easy to quickly build a huge Korean vocabulary because Koreans use a lot of Konglish–words that are a mix of English and Korean. The tongue-twister above is an example of Konglish. Chocolate Chip Cookie becomes “Choco-Chip”. Easy, right? Unfortunately, most Konglish words are just about food or just plain silliness, like 회팅!(Fighting!) which means something like, “Let’s do it!” or “You can do it!” You are not going to get too far, even if you pick up hundreds of Konglish words.</p>

  <p>One of the things that makes learning many European languages so simple for native English speakers is that the vocabulary, even very advanced vocabulary, is so similar. So many words sound the same, look the same, and have the same meaning. Even if you have never studied French a day in your life, go look at a french newspaper right now. Click on an article. We bet you will recognize at least 50 words in that article.</p>

  <p>The vast majority of Korean words have no relation to their English counterparts. They don’t sound similar, and they certainly don’t look alike. If you are Chinese, you are in luck. Over half of all Korean words are of Chinese origin. So to enable you to easily build up your Korean vocabulary, we’re going to teach you Chinese first. Just kidding! That would take a good year or two!</p>

  <p>But we am going to teach you how to quickly learn a lot of Korean words. Learn Hangul is not just about teaching you Korean. We also teach you the best way to learn Korean. We’re teaching you how to learn Korean in the most efficient way possible–and that is especially important when it comes to Korean words. It’s pretty easy to get discouraged if you are not learning Korean words quickly.</p>

  <p>To avoid this being an issue for you, we pre-made computerized flashcard sets that are integrated with the lessons on the Learn Hangul website. You will be able to study your flashcards at any computer or smartphone. You will super-size your Korean vocabulary with the Learn Hangul flashcard sets. Your friends will wonder how you are remembering everything so well. Just tell them you are really smart.</p>

  <p>We are also going to have you learning Korean words in really fun ways. Fun is a word we are going to write a lot. We are sponsored by fun. If Korean is not fun for you, you will just quit. It’s true.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
