</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Grammar</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted">The Girl: You know why the sky is blue? </h3> 
    <h3 class="text-muted">Kyun-woo: Because the reflection from the sunshine causes… </h3> 
    <h3 class="text-muted">The Girl: Wrong! It’s to make me happy. I wanted it to be blue, so it’s blue. You know why fire is hot? It’s all for me. I wanted it to be hot, so it’s hot. You know why we have four seasons here in Korea? </h3> 
    <h3 class="text-muted">Kyun-woo: For you?</h3>  
    <h3 class="text-muted">The Girl: Correct.</h3> 
	<h4 class="text-muted center">––My Sassy Girl (2001), Korean movie</h4>
     </div>
 </div>

	<p>While you are learning about the structure of Korean, unless you are studying for a Ph.D. in linguistics, it is not important to dive too deeply into the circumstances surrounding the birth and evolution of Korean right now. The thing you should be trying to understand and mentally note while we break down Korean is that Korean is this way. And you need to accept it and realize that Korean won’t change to be more like your native language. You have to adapt your way of thinking to speak Korean.</p>

  <p>We are  going to keep the grammar terms we use super kindergarten simple in this discussion and throughout My Korean Book. If you have trouble remembering what something very grammary like a “subject” is, you might want to check out the definition here on this easy dictionary of main English grammar terms.</p>

  <p>Let’s begin with the impossible or, as it is more commonly known, Korean grammar.</p>

  <p>GRAMMAR</p>

  <p>Basic sentence word order</p>

  <p>One of the most obvious differences between Korean and English is basic sentence structure. Let’s look at how a few basic English sentences would be structured in Korean:</p>

  <p>English: She eats kimchi. ==> Korean: She kimchi eats.</p>

  <p>English: She gives him a present. ==> Korean: She him a present gives.</p>

  <p>English: Your father he is. ==> Korean: Your father he is.</p>

  <p>Do you notice how that last sentence is the same in both English and Korean? Does that sentence sound familiar? Do you know who spoke that sentence? Yoda. Yeah, Yoda from Star Wars. As it turns out, Yoda has fairly good Korean grammar. He puts the verb at the end of sentences, just like Koreans. Here are a few more Yoda quotes that have parallel English and Korean sentence structures:</p>

  <p>English: Twisted by the Dark Side, young Skywalker has become. ==> Korean: Twisted by the Dark Side, young Skywalker has become.</p>

  <p>English: Much to learn you still have. ==> Korean: Much to learn you still have.</p>

  <p>Whereas the basic English sentence is Subject-Verb-Object (I like cheese.), the basic Korean sentence is structured as Subject-Object-Verb (I cheese like.)</p>

  <p>Go back and watch all 6 Star Wars movies if you want, paying special attention to Yoda’s lines–it’s great Korean listening practice for when you don’t know a single word of Korean. It’s a good way to get used to putting the verb at the end of sentences.</p>

  <p>Basically, Korean sentences end with the verb. This may seem like a small difference to you now. But in practice, for native English speakers, it completely goes against the grain of the way your brain processes language. It will take a little while to get used to it. But, get used to it you will.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
