</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean is Super Easy</h2>

	<p>Some things that make Korean super easy:</p>

  <p>No Articles!</p>

  <p>Have you ever noticed when Koreans speak English, they have a lot of trouble choosing which article to use with a noun (‘a’, ‘an’, or ‘the’). That’s because Korean doesn’t have articles. That is going to simplify things for you. So have some sympathy the next time Koreans mess up with ‘a’, ‘an’, or ‘the’ and thank them for having a language that does not have anything similar.</p>

  <p>Instead of saying “I ate a kimchi.”, “I ate the kimchi.” or “I ate some kimchi.”, you can just say “I ate kimchi.”</p>

  <p>No Subject Verb Agreement!</p>

  <p>In English, you might have to use a different form of a verb depending on what the subject of the sentence is.</p>

  <p>Let’s look at an example with the ‘be’ verb:</p>

  <p>She is cool.</p>

  <p>They are cool.</p>

  <p>It is cool.</p>

  <p>I am cool.</p>

  <p>We are cool.</p>

  <p>My mom is cool.</p>

  <p>That guitarist is cool.</p>

  <p>You are cool.</p>

  <p>In Korean you just write 1 version of the verb for all of them. You don’t have to worry if the subject is plural or singular or 1st person/2nd person/ 3rd person. Korean is cool!</p>

  <p>It’s all about context!</p>

  <p>When you speak Korean, context goes a long ways. Many things are understood by the listener in a conversation, so you don’t have to say it in Korean. Let’s look at some examples.</p>

  <p>You can just say “Cold!” instead of “It’s cold outside!” Many subjects are often left out of sentences because the subject is just understood.</p>

  <p>You can just say “Home go.” Instead of “I’m on my way home.” or “Why don’t you go home.”  The listener will understand the meaning by the situation.</p>

  <p>Because it is not necessary in Korean to say stuff that is understood, the subject, topic, and object particles can frequently be left out. You do have to learn them and use them. Especially when you are just learning the language, you should use them. But oftentimes you won’t have to. For example, if you say “I’m going to watch a movie.” You don’t have to say “I-subject am going to watch a movie-object.” It’s understood that “I” is the subject of the sentence and “movie” is the object of the sentence. It wouldn’t be logical for the movie to watch you. That’s like one of those Russian jokes. In Korea, the movie watches you.</p>

  <p>All of this can give Korean a very casual feel, especially when you are talking to friends. Sometimes Korean can seem very uptight, with all of the politeness levels, but this use of unspoken context is one way that Korean lets you put your feet up and relax.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
