</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Sounds and Speech</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"도토리 키 기재."</h3> 
	<h4 class="text-muted center">––Korean Proverb. Measuring the height of an acorn (comparing two things which shouldn’t be compared).</h4>
     </div>
 </div>

	<p>When many people think of Asian languages, they think of a language with multiple tones and don’t believe they can ever learn it. Thankfully, Korean is not one of these languages with a complex tonal system, like Chinese, Thai or Vietnamese.</p>

  <p>For the most part, new Korean learners are able to approximate the sounds of Korean without terrible difficulty. There is no rolling ‘r’ sound like in Spanish where you have to perform gymnastics with your tongue.</p>

  <p>However, you will encounter some trouble. This is one reason our Korean alphabet Hangul program has a lot of audio. You will be doing yourself a huge favor if you download it and listen to an actual Korean saying the alphabet sounds.</p>

  <p>Here are 3 potential Korean sound trouble areas that native English speakers often have trouble with but may not even know they are having trouble with. Make a mental note so you can pay extra attention when you learn the alphabet soon: </p>

  <p>ㄹ</p>

  <p>Most just learn this as ‘l’ or ‘r’ but neither is quite right. This one takes a lot of practice, errors and feedback to perfect. </p>

  <p>ㅓ</p>

  <p>This sound also gives English speakers a lot of trouble. There is a lot more to it than it can initially seem. - See more at: </p>

  <p>ㅃ ㅉ ㄸ ㄲ ㅆ</p>

  <p>A lot of learners have trouble with these double consonant sounds that are subtly different from their single consonant counterparts. Double the trouble. Too many non-Koreans never learn the difference so just pronounce them both in a very similar way. </p>

  <p>When you first learn the Korean alphabet, you are going to be surprised how quickly you learn everything because you will suddenly be able to leave your computer, walk around Seoul and be amazed at your new ability able to read and say every single Korean store sign you see. You will feel like you developed a superpower.</p>

  <p>But it is crucial to not get so over-confident. Even though you will have a good idea of how to say most sounds, you will not be saying anything perfectly and you have to actively work at it to get your Korean sounds closer to perfection. Do not fall into bad vocalization habits early on. There will be a lot of room for you to improve, but you have to recognize that and seek out your weak spots, or you will improve a lot more slowly than you could. Remember to review the basic sounds a few times during your first week after learning the alphabet.</p>

  <p>Another thing you should avoid when learning the Korean alphabet is over-associating every sound with its English alphabet equivalent. Don’t do this. Even if some romanization explanations are quite helpful when you are first learning the alphabet, don’t fall into the trap of thinking that nearly every sound has a perfect English counterpart. Almost every sound is subtly different from English in important ways. If you can concentrate on associating each Korean letter you are learning with the unique Korean sound it makes, you will have a much better chance at not sounding like a Korean preschooler with a cute speech disorder. You will also be able to read Korean much more quickly, as you won’t have to first translate the Korean letters into English letters in your mind’s eye.</p>

  <p>One of the big reasons we are writing these lessons is because too many books and websites teach with romanization–even after hundreds of pages and lessons. Ridiculous.</p>

  <p>Another problem you will encounter when speaking Korean is that Koreans are not really used to foreigners speaking Korean. Whereas the English speaking world is used to many different kinds of native and non-native English accents, Koreans are not. So, you might have some difficulty at making yourself understood at first. Don’t get discouraged! You will have many conversations like this, even after months of speaking Korean:</p>

  <p>You: May I have some water, please?</p>

  <p>Korean Waiter: What?</p>

  <p>You: Water, please?</p>

  <p>Korean Waiter: What?</p>

  <p>You: Water.</p>

  <p>Korean Waiter: What?</p>

  <p>You: Water.</p>

  <p>The conversation may or may not end with you actually getting any water. But try to enjoy it and don’t get frustrated.</p>

  <p>A related problem is that when Koreans can understand you, they will be amazed that a foreigner has learned Korean. You may be the first non-Korean that they have seen in the flesh speaking Korean. Even if all you said was ‘Hello’ in a good enough way, they will assume that you must be completely fluent. They will then proceed to talk to you really quickly, using words that even much more advanced Korean learners don’t know and grammar patterns that you are oblivious to. Do not be discouraged and use it as motivation to get up to that level. Try your best to communicate on your level and use the speaking and listening practice.</p>

  <p>On the bright side, when you do find a Korean person who can understand your funny Korean accent and who seems to understand the breadth of your Korean knowledge and speaks to you on your level, yet challenges you to get better, it will be like magic.</p>

  <p>One Month Korean is going to give you a ton of tips for when you go out into the world or online and speak with real Koreans. Think of One Month Korean as your home base, where you can come to quickly understand Korean so you can use it in real life having fun talking to Korean people.</p>




    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
