</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Be Curious about Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"There are over 1000 Korean words for ‘kimchi’."</h3> 
	<h4 class="text-muted center">––I just made that up. Because I can.</h4>
     </div>
 </div>

	<p>Early on in your Korean studies, you are going to get frustrated with learning Korean. There is no avoiding it. This frustration can come at any time, but one likely scenario is that you will encounter a second way of saying something that you thought you knew how to say just fine.</p>

  <p>For example, did you know there are two ways to say ‘goodbye’ in Korean? You say ‘goodbye’ one way if you are leaving and the person you are saying ‘goodbye’ to is staying, and you say it another way if you are staying and the other person is going. Some people actually quit learning Korean when they learn this and realize they have been saying something simple like ‘goodbye’ incorrectly for months.</p>

  <p>Did you know there are two number systems? One is based on Chinese numbers (remember how about half of all Korean words are based on Chinese?) and the other number system uses pure Korean numbers. Just about everything that can be counted can only use one of those systems, and if you use the wrong system it sounds quite strange.</p>

  <p>Did you know ‘eye’ and ‘snow’ are the same word in Korean?</p>

  <p>Did you know there are a lot of ways to say ‘yes’?</p>

  <p>All of this can be enormously frustrating for a beginner, but only if you let it be. Just when you think you learned something, you will learn how little you have learned. Don’t get frustrated. Instead, use your curiosity to become more interested in Korean and all of its nuances.</p>

  <p>Did you know there are 187 historic and current varieties of kimchi documented by the Kimchi Field Museum in Seoul?</p>

  <p>Did you know there is a museum dedicated to kimchi?</p>

  <p>I didn't make that up.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
