</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Politeness Levels</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"가는 말이 고와야 오는 말이 곱다"</h3> 
	<h4 class="text-muted center">––Korean Proverb. If going words are beautiful, coming words will be beautiful.</h4>
     </div>
 </div>

	<p>Another facet of Korean that is quite different from English is the different levels of politeness and formality you use depending on who it is you are talking to. If you are speaking to an elder in English, you may phrase things differently and not speak so casually, but there are no politeness levels baked into the grammar. You have to consider whom you are speaking with to correctly use Korean.</p>

  <p>Basically, if you are talking to a someone younger than yourself, you can speak however you want.</p>

  <p>But if you are speaking with someone older than you (even just a year older), or to a person with a higher position than you, you have to show some respect.</p>

  <p>Korean politeness levels are reflected in verb endings and in some honorific vocabulary.</p>

  <p>If you choose the wrong politeness level when you are speaking to someone, you can be kicked out of Korea. Not really, but you may accidentally insult someone if you don’t speak with the right politeness level. But if the person you insult has a brain they will realize that you are just making an easy mistake to make as a new Korean learner. You will have about a 12 month grace period in learning Korean to get politeness levels right. After that, Koreans may take your verbal slights seriously. There is only so long that you can keep speaking to your boss or Korean parents-in-law like they are children. Eventually, they are going to snap at you!</p>

  <p>You’ll often hear the characters in Korean movies and dramas arguing about how they should speak to each other. In Boys Before Flowers, the spunky lead female character addresses the main character, her senior in their high school, very informally. He screams at her that they don’t speak American Style (with no politeness levels) at their school and that she better start speaking to him with respect. The way you speak to someone shows what you think about them, and whether your relationship is casual or formal, whether you are on the same level, or if it is an unequal, hierarchical relationship.</p>

  <p>Here is a song from the popular We Got Married (우리 결혼했어) Korean reality show that talks about how it is awkward speaking to each other in very casual language (반말). We’re going to try to find a lot of songs to use throughout My Korean Book. We know you don’t understand much Korean yet, but listening to Korean music is good training and gets your ear used to Korean. Don’t stress, just enjoy. Even if you don’t like Korean music, it is one of the best ways to learn Korean.</p>

  <p>The most common politeness level in Korean has most verbs ending in 요 (yo). The next time you are watching a Korean movie or tv show, or eavesdropping on the Seoul subway, you might be able to pick out a lot of yos at the end of sentences. And now you will know it is because they are speaking to someone politely.</p>

  <p>Did you know that back when Korea had kings and queens, there was a special politeness level reserved for when people talked to the king or queen? Pretty cool perk if you were a Korean royal–you got to force people to use your own personalized verb endings.</p>

  <p>Most Korean schools and textbooks start out by teaching a really high politeness level of speech. It is one step below the way you would speak to the king. We suspect there is a conspiracy to make foreigners sound awkward and comedic–perhaps so when beginners speak Korean, native Koreans’ reaction is often to laugh at them, making them lose confidence. Which means more English practice time for Koreans!</p>

  <p>In practice, Korean people don’t use this politeness level anywhere nearly as often as the yo form. So it’s not clear to us why just about every Korean textbook and school gives its students this false start to Korean. We think the first few months of your Korean studies are the most important, and we are going to start out teaching you the yo form. This form is considered casual, but polite, so you can use it with anyone–older people, waitresses, friends, bosses, etc. After you get a proper handle on your yos we will teach you how to speak super casually–the most common way to speak with friends and people younger than you.</p>

  <p>We’re not going to waste your time by starting out teaching you how to talk in a way that only awkward foreigners and tv announcers talk. You will have to eventually learn all politeness levels, so we’ll teach that to you later–when it is easier for you to learn multiple politeness levels and switch between them.</p>

  <p>In the meantime, if you want to be super polite when you meet a new Korean person, just say ‘Hello’ like this: Yo Yo Yo, what’s up, yo? Yeah, just kidding again. But if you do want to be a Korean rapper or poet, it will be pretty easy for you. Just end every line with the polite ending ‘yo’. Yo. You will be the most polite rapper ever.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
