</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Prepare Your Mind to Learn Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"I have nothing else to boast, but one thing I could never do is give up. I will endure all hardships, even if I die from it. And I will keep this mentality."</h3> 
	<h4 class="text-muted center">––Park JiSung, Former Manchester United player from Korea</h4>
     </div>
 </div>

	<p>Your mind is the most important thing you have to prepare before learning Korean. You need to promise not to use all the excuses people use when they try to learn a language and want to give up. You need to burn the bridge of excuses that will only take you backwards. Eliminate the possibility that you will give an excuse the first time Korean is not easy and throw in the towel. You need to go into Korean learning with the mindset that you will achieve your Korean learning goals and that there simply are no excuses. Let’s look at the results of a 2011 survey of 16,000 language learners: </p>

  <p>It turns out that language learners use a variety of different excuses when they give up learning languages. And don’t forget: the overwhelming majority of adult language learners quit in the first weeks and months. We already told you that learning Korean is going to be one of the hardest things you attempt in life. It’s time to realize that all of these excuses for quitting are worthless and that One Month Korean is going to reduce the possibility that you will use any of these excuses and give up. I know because I used every one of these excuses during my Korean learning journey and not once did any excuse help me learn a single word of Korean.</p>

  <p>Let’s go through these one by one, and we’ll explain why it is not a good excuse and how this Hangul website will help you overcome these supposed difficulties.</p>

  <p>1. Not enough time. This is one of the most common excuses people use. If you are reading this, learning Korean is important to you. If it is important to you, make the time. If you can study just a bit every day, you’ll make great progress. One Month Korean strives to teach you efficiently so that you don’t waste your time. We are pretty sure we teach the Korean alphabet faster than any other method and the rest of the lessons are designed with the same goal: to not waste your time. You can also access the lessons from your smart phone and we also give you convenient tools like ready made flashcards that you can study on the go. So when you have a little extra time, you can get in a quick study session without carrying around a bulky textbook and stacks of paper flashcards.</p>

  <p>2. Difficult to keep motivated. Sometimes our motivation can ebb and flow. We try to give you quick and consistent results–and that should be enough motivation to keep going. But ultimately, motivation comes from within. You have already decided that you have a specific goal for learning Korean. What can be more motivating than doing the hard work to accomplish your goals?</p>

  <p>3. Bad teaching method. We started this project because all of the other Korean books are terrible. Each chapter is the same as the previous chapter. We teach you with a wide variety of methods and are challenging ourselves to find creative ways to keep the learning material fresh for you. We also take advantage of the multimedia capabilities of the internet to keep you interested, appeal to different learning styles, and make this the most dynamic Koren learning system. Did you know most Korean schools start out by teaching students how to speak with verb endings that are rarely used? In fact, they are usually only used by foreigners learning Korean. Why? It seems to us that they just teach this way because all of the other schools and textbooks are teaching beginners Korean that way. But there is no good reason. We don’t waste valuable time teaching things you won’t use or that you don’t need to know early on. We teach you how to speak like Koreans actually speak.</p>

  <p>4. No access to native speakers. One Month Korean enables you to learn Korean from native Korean teachers. This is the best start to learning Korean and key to developing good Korean pronunciation from the outset. Throughout the site, we will also provide you information on other online resources where you can easily find native Koreans to talk to, meet and become friends with. There are also Koreans living in every part of the world. In this age of interconnectedness, this is really no excuse. We will give you specific tasks to perform with the Korean practice partners you find, so you always have something to talk about and don’t find yourself getting bored having the same conversation over and over. We will also give you specific tactics to ensure that your Korean partner actually talks in Korean to you. Koreans are quite fanatical about learning English, so many won’t hesitate to try to dominate the “language exchange” in English, which is great for them, but not great for your Korean skills. Did you know South Koreans spend about 15 billion dollars annually on English education? They invest heavily in learning English. If you are doing a language exchange, be sure you spend half the time speaking Korean.</p>

  <p>5. Not enough money. One Month Korean is pretty cheap. So, enjoy.</p>

  <p>6. Feel ashamed when speaking a foreign language. Be bold. Be brave. There is just no way you are going to learn Korean well if you don’t have the courage to practice speaking it. It is all too common for native English speakers to feel ashamed when speaking a foreign language. Perhaps because native English speakers are so used to people from other countries learning English, so it feels strange to be attempting to learn a foreign language. Maybe it feels a little silly because we all sound like children when starting a new language. We know a lot of people who have a “language exchange” with a Korean, but end up talking most of the time in English just because they are too shy to speak Korean. We will give you tips and encouragement so this won’t happen to you.</p>

  <p>7. No or limited access to good learning material. One Month Korean will give you unlimited access to exceptional learning material. We are doing my best to help you learn Korean, and we are confident in our efforts and think that you will love it. See an error, or think one of my explanations is not good enough? We’ll fix the error and try to explain things better–for you and permanently for the website. That is one more cool thing about having an online textbook–we can edit it to perfection using real-time feedback from our Korean students.</p>

  <p>8. Bad teacher. We will try our best to make learning Korean fun, clear and efficient. One of the best features of One Month Korean is that you can directly contact us–this book’s authors–whenever you have a Korean question and we will get back to you with an answer super fast. Pretty cool you can ask your Korean textbook authors questions about Korean, right? All of the homework we give you? Just send it to us and we will correct it for you and explain the concepts you need to understand better. How many textbooks let you email the authors your homework for corrections? We work hard to explain things well, give fun assignments that you actually want to do and you won’t even realize you are doing homework, and we try to teach things in a way that makes sense. We try to always be accessible–we know how hard it is to learn a foreign language and we will always be here to help you with Korean.</p>

  <p>But the real reason this excuse isn’t good is because you are your own best Korean teacher. We’re going to teach you how to teach yourself Korean.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
