</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">An Overview of the Korean Language</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"호랑이 굴에 가야 호랑이를 잡는다."</h3> 
	<h4 class="text-muted center">––Korean Proverb. You have to go to the tiger’s cave to catch a tiger.</h4>
     </div>
 </div>

	<p>So, you have mentally prepared yourself for the life and death and fun challenge that is learning Korean.</p>

  <p>You are now going into the tiger’s cave on a mission: you are going to learn Korean in 1 hour. Unfortunately, we are not going to be able to master it in that time.</p>

  <p>We are going to go directly to the heart of Korean to deconstruct the language so you know what to expect in the months and years ahead. The purpose of this is to prime your brain to the features of Korean, and to the major differences between Korean and English, so that when it is time to actually learn it, it won’t be a shock that you can’t wrap your mind around. If you were learning a sport, soccer for example, you wouldn’t practice kicking a ball against the wall over and over for 2 years before you are finally permitted to know the most important rules, practice with teammates, and actually watch a game to see how it is played, would you?</p>

  <p>Having a bird’s eye view of the Korean language is going to turn the light on for you so you don’t have to stumble through the dark and bump into unexpected obstacles with every step. So let’s get started trying to understand our new enemy and lover–Korean.</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
