</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Is Korean Difficult to Learn?</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"If they had told me it would be fifteen years, would it have been easier to endure?</h3> 
	<h4 class="text-muted center">––Dae Su Oh in Oldboy (2003), Korean movie</h4>
     </div>
 </div>

	<p>Now, before you start learning Korean, you need to set yourself up for success. The first step is to acknowledge the challenge that is before you.</p>

    <p>Did you know Korean is classified by the U.S. State Department as a Category III language–the most difficult level? That’s diplomat speak meaning it is really freaking hard for native English speakers to learn Korean and most just quit. Pretty cool that languages are ranked like Hurricanes, and Korean would be the windiest hurricane. State recommends 2200 hours of classroom instruction plus 3-4 hours of self-study each day for its diplomats learning Korean. And it recommends that half of that time is spent inside Korea.</p>

    <p>By contrast, students of French, Spanish, Italian and Portuguese (Category I languages) are advised by the State Department to attend only 600 hours of class. That’s only about 25% of the time recommended for Korean. And if you want to learn Greek, Russian, Vietnamese, Hungarian, or Icelandic (Category II languages) you’re looking at 1100 hours of class. Just 50% of that recommended for Korean learners. So the answer to ‘Is Korean difficult to learn?’ is clearly, “Yes”. Korean is really difficult to learn for native English speakers.</p>

    <p>Add this to the fact that the vast majority of adult language learners give up and quit in the first months of starting to learn a new language, even an easy language like French (sissies!), and it suddenly looks like learning how to fly might be easier than learning how to speak Korean.</p>

    <p>Are you up for the challenge? We know you are ready to start learning, but first we are going to do some things to prepare ourselves to not just meet the challenge of learning Korean, but to laugh in the face of that challenge.</p>
    
    <p>Be patient. Just because Korean is difficult doesn’t mean it is not incredibly fun. One Month Korean is laying down a path to fun, efficient, and successful Korean learning. This book is not just going to teach you Korean, it is going to teach you how to learn Korean. So before we start, let’s dress for success.</p>

    <p>We want you to think of something you have accomplished in life that you are truly proud of. Now, this can be anything. It can be getting into your first choice college, or perhaps getting the role you wanted in a play. Okay, did you think of something? Have an accomplishment in mind? Good.</p>

    <p>Now, reflect on how you achieved that success. We’re going to bet that you used 1 key tactic: understanding the big picture goal in advance.</p>

    <p>Let’s use the example of someone getting into the college they want to go to. It’s doubtful that one can get into a first choice college without understanding what the goal is, what scores are needed for that goal, what kind of work has to be done on the application–the big picture. Rarely do we back into our goals.</p>

    <p>Learning Korean is the same way. You need to know what your goals are with Korean. If you have no goal, quitting is no loss. The overwhelming majority of new Korean learners (and learners of all languages) quit in the first few months. You can join the club of Korean quitters. It’s a pretty big club. But if you have a specific goal with Korean, suddenly you are emotionally and intellectually invested in learning Korean. That’s not only a barrier to you quitting, it will spur you on and help you learn more quickly.</p>




    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>


