</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Korean Prepositions (Postpositions)</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"김치부터 마시지 말라."</h3> 
	<h4 class="text-muted center">––Korean Proverb. Don’t start with the Kimchi soup. (Don’t put the cart before the horse!) </h4>
     </div>
 </div>

	<p>Another thing that Korean has all backwards in relation to English is prepositions. If you can remember from your English grammar classes, a preposition is a word like “in” or “at”. It is a word used before a noun or pronoun to relate it to some other part of the sentence.</p>

  <p>Korean prepositions are so backwards that they are not called “prepositions”, they are called “post-positions”.</p>

  <p>In English, the preposition comes before the word. For example, “Meet me after midnight”. </p>

  <p>In Korean, the pre postposition comes after the word, so it would be “Meet me midnight after“. </p>

  <p>You may be sensing another pattern with Korean when compared to English. So many things are just completely flipped from how English speakers are used to doing things.</p>

  <p>Take Korean names, for example. Last name first, first name last. During Manchester United games, the English announcers call Korea’s star player ‘Ji Sung Park’. But back in Korea, everyone cheers for Park Ji Sung. Family name first. So, is Korean all backwards, or is English backwards? It doesn’t really matter. At any rate, you are going to have to learn how to do some back flips with your English mind to get used to Korean.</p>

  <p>Did you ever play ‘opposite day’ when you were in elementary school? You know, when you and your friends tried to say everything backwards? Sometimes Korean can feel like a permanent opposite day. The most epic opposite day ever. Fun!</p>


    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
