</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Why are you Learning Korean?</h2>
	

	<p>Why are you learning Korean?</p>

    <p>There is no more important question in this book. And no more important answer. Why?</p>

    <p>So right now, think about your goal with Korean. What is your Korean Dream? The more specific the better. You might have multiple goals for your Korean studies. Some examples:</p>

    <p>I want to be able to live in Korea comfortably–read bus stops and menus and learn good travel phrases and make Korean friends.</p>

    <p>I want to work in the Seoul branch of my company.</p>

    <p>I want to understand Korean movies and dramas without subtitles.</p>

    <p>I want to get along better and communicate with my girlfriend’s family, and I want to understand my Taekwondo lessons better and talk with the other students in class.</p>

    <p>Now that you’ve thought of your WHY, which is your goal, do something magical: write it down. Writing something down can make it come to life and make something that was only a product of your imagination into something tangible and real–within reason.</p>

    <p>It’s time to write down why you want to learn Korean. If you know your goal is to learn Korean, it’s a big barrier to you quitting right after your very first bite of kimchi. Put your pen or pencil down on some paper and write.</p>

    <p>Now that you have made a goal to learn one of the most difficult languages in the world, it’s too late for you to quit. It would be pretty privately embarrassing for you if you do. There are plenty of foreigners who have lived in Korea for 3 years–even 10 years–that have not learned anything more than how to read Hangul. Seriously. We have one friend from America who has lived in Korea for more than 6 years and is still here. The only phrase that he has learned besides the usual ‘thank you’ and ‘where is the bathroom?’ is “따로따로 포장해주세요.” That means: “Please wrap it up separately.” He learned it because when he eats out with someone, he likes to split the leftovers to take home. That’s all he knows, but he knows it really well.</p>

    <p>Don’t become like him. Seriously. Follow through on your Korean goals.</p>

    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 1% Complete</h6>


