</br>
<div class="jumbotron lessonjumbo">
	<h2 class="bluetext center">Get Started Learning Korean</h2>
	
    <div class="panel panel-default">
  <div class="panel-body">
	<h3 class="text-muted center">"사람은 죽으면 이름을 남기고 범은 죽으면 가죽을 남긴다."</h3> 
	<h4 class="text-muted center">––Korean Proverb. When a person dies, he leaves his name behind; when a tiger dies, he leaves his skin behind.</h4>
     </div>
 </div>

	<p>Since you now know the Korean alphabet, you’d think that we would move right along and teach you some Korean words and grammar.</p>

  <p>Good idea, but we’re super lazy teachers, so first we want you to go teach yourself a Korean word. Then maybe (if we can get motivated) We’ll teach you a super useful and easy phrase to learn with your new word.</p>

  <p>The Korean word you are going to teach yourself is………. your name!</p>

  <p>Try to figure out how your name would sound with your new knowledge of Korean sounds and Korean letters.</p>

  <p>Write down your new Korean name and start practicing saying it like a Korean would.</p>

  <p>Okay, got it?</p>

  <p>Now you are going to take your name and and a Korean phrase you will use a lot: “Hi, I am _______.”</p>

  <p>You probably already know hi/hello.</p>

  <div class="panel panel-primary">
  <div class="panel-body">
  <h3 class="lightbluetext center">안녕하세요 = Hello</h3> 
  <h3 class="lightbluetext center">안녕 = Hi</h3> 
     </div>
 </div>
  <p>안녕하세요 = Hello   안녕 = Hi</p>

  <p>You should only use 안녕 with friends or children. It is a lot more casual than 안녕하세요. Just drop the ‘하세요’. Casual in Korean usually means less. Like wearing a t-shirt, jeans and sandals instead of a snazzy suit and dress shoes.</p>

  <p>Next, just say your name, and right after your name say 입니다. 입니다 is more formal language and we are not going to learn it fully until much later. However, when you are introducing yourself, you generally want to be formal, humble and polite. So we are introducing it to you here just as part of a stock phrase. You should note that the ‘ㅂ’ here is pronounced like a ‘ㅁ’.  That’s a more advanced pronunciation exception we’ll teach you a little later.</p>

  <p>If your name is Jack, you would say and write ‘안녕하세요 잨입니다.’</p>

  <p>If your name is Jane, you would say and write ‘안녕하세요 잰입니다.’</p>

  <p>If your name is Barack Obama, you would say and write ‘안녕하세요 바락 오바마입니다.’</p>

  <p>Why don’t you practice introducing yourself to a real, live Korean the next time you can.</p>

  <p>Now you can go around Korea introducing yourself to everyone in Korean. Or you could introduce yourself to everyone as America’s President if you use that last example we gave you.</p>

  <p>Unfortunately, you still don’t know how to ask them for their name. But we don’t want to weigh you down with too many phrases right now, because the entire point of our lessons is to get you quickly speaking Korean on your own, spontaneously. We don’t want you to be a Korean phrase spouting robot that will never be able to have a real conversation with a real Korean. If you just want to learn a bunch of stock phrases, go choose any of the other Korean books available. You won’t impress anyone. Anyone can memorize a bunch of phrases. You don’t even need to memorize phrases in these modern times. There are several phone apps that will do that chore for you now.</p>

  <p>Learn Hangul is different.</p>

  <p>Because you can’t converse with anyone yet, this phrase might be pretty useless for now. But if you speak to a younger Korean person, they should know a fair bit of English. You can tell them you just learned the Korean alphabet and are practicing. Maybe they will teach you some stuff and you can make a Korean friend.</p>



    <div class="center">
    <%= link_to "Back", new_user_registration_path, class: "btn btn-default btn-md" %> <%= link_to  "Next", new_user_session_path, class: "btn btn-success btn-md" %> 
     </div>
</br>

 <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
  </div>
</div>
<h6 class="center text-muted">One Month Korean Class Progress: 2% Complete</h6>
