$body-bg: #e74c3c;
$navbar-inverse-bg: #ecf0f1;
$navbar-inverse-link-color: #3498db;
$brand-primary: #3498db;
$jumbotron-bg: #ecf0f1;
@import "bootstrap";

.center {
	text-align: center;
}

.cloudtext {
	color: #ecf0f1;
}

.bluetext {
	color: #3498db;
}

.devisewidth {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

